/* styles.css */

/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Nunito', sans-serif;
    font-family: 'Work Sans', sans-serif; */
   
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5,h6,p{
    margin: 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

body{
    background: #FDFFFD;
}
:root{
    --white : #fff;
    --swiper-theme-color: #69FAB4;
   
}
.container {
    max-width: 1420px;
} 


/* General Styles End */

/* width, height, and color of the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

/* color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #6af5b2;
}

/* color on the top and bottom of the scrollbar handle */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* corner radius of the scrollbar handle */
::-webkit-scrollbar-thumb:vertical {
  border-radius: 12px;
}

/* corner radius of the scrollbar track */
::-webkit-scrollbar-track:horizontal {
  border-radius: 12px;
}

